{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	{% if title %}
    <title>dambase - {{ title }}</title>
    {% else %}
    <title>dambase </title>
    {% endif%}
	<meta charset="UTF-8">
	<meta name="description" content="Cryptocurrency Landing Page Template">
	<meta name="keywords" content="cryptocurrency, unica, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->
	<link href="{% static 'dambase/img/favicon.ico' %}" rel="shortcut icon"/>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="{% static 'dambase/css/bootstrap.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'dambase/css/font-awesome.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'dambase/css/themify-icons.css' %}"/>
	<link rel="stylesheet" href="{% static 'dambase/css/owl.carousel.css' %}"/>
	<link rel="stylesheet" href="{% static 'dambase/css/style.css' %}"/>


	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section -->
	<header class="header-section clearfix">
		<div class="container-fluid">
			<a href="" class="site-logo">
				<img src="{% static 'dambase/img/logo.png' %}" alt="">
			</a>
            
            
    {% block content %}{% endblock %}
    

    <!-- Newsletter section -->
    <section class="newsletter-section gradient-bg">
        <div class="container text-white">
            <div class="row">
                <div class="col-lg-7 newsletter-text">
                    <h2>Subscribe to our Newsletter</h2>
                    <p>Sign up for our weekly industry updates, insider perspectives and in-depth market analysis.</p>
                </div>
                <div class="col-lg-5 col-md-8 offset-lg-0 offset-md-2">
                    <form class="newsletter-form">
                        <input type="text" placeholder="Enter your email">
                        <button>Get Started</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Newsletter section end -->


    <!-- Footer section -->
    <footer class="footer-section">
        <div class="container">
            <div class="row spad">
                <div class="col-md-6 col-lg-3 footer-widget">
                    <img src="{% static 'dambase/img/logo.png' %}" class="mb-4" alt="">
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia dese mollit anim id est laborum.</p>
                    <span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></span>
                </div>
                <div class="col-md-6 col-lg-2 offset-lg-1 footer-widget">
                    <h5 class="widget-title">Resources</h5>
                    <ul>
                        <li><a href="#">How to Buy Coin</a></li>
                        <li><a href="#">Coin Overview</a></li>
                        <li><a href="#">Blog News</a></li>
                        <li><a href="#">How to Sell Coin</a></li>
                        <li><a href="#">Purchase Theme</a></li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-2 offset-lg-1 footer-widget">
                    <h5 class="widget-title">Quick Links</h5>
                    <ul>
                        <li><a href="#">Network Stats</a></li>
                        <li><a href="#">Block Explorers</a></li>
                        <li><a href="#">Governance</a></li>
                        <li><a href="#">Exchange Markets</a></li>
                        <li><a href="#">Get Theme</a></li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-3 footer-widget pl-lg-5 pl-3">
                    <h5 class="widget-title">Follow Us</h5>
                    <div class="social">
                        <a href="" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="" class="google"><i class="fa fa-google-plus"></i></a>
                        <a href="" class="instagram"><i class="fa fa-instagram"></i></a>
                        <a href="" class="twitter"><i class="fa fa-twitter"></i></a>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="row">
                    <div class="col-lg-4 store-links text-center text-lg-left pb-3 pb-lg-0">
                        <a href=""><img src="{% static 'dambase/img/appstore.png' %}" alt="" class="mr-2"></a>
                        <a href=""><img src="{% static 'dambase/img/playstore.png' %}" alt=""></a>
                    </div>
                    <div class="col-lg-8 text-center text-lg-right">
                        <ul class="footer-nav">
                            <li><a href="">DPA</a></li>
                            <li><a href="">Terms of Use</a></li>
                            <li><a href="">Privacy Policy </a></li>
                            <li><a href="">support@company.com</a></li>
                            <li><a href="">(123) 456-7890</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <!--====== Javascripts & Jquery ======-->
    <script src="{%static 'dambase/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{%static 'dambase/js/owl.carousel.min.js' %}"></script>
    <script src="{%static 'dambase/js/main.js' %}"></script>
    </body>
    </html>
